 # PAP

### Mariana López Correa

## statsmodel

contains model classes and functions that are useful for time series analysis. Basic models include univariate autoregressive models (AR), vector autoregressive models (VAR) and univariate autoregressive moving average models (ARMA). Non-linear models include Markov switching dynamic regression and autoregression. It also includes descriptive statistics for time series, for example autocorrelation, partial autocorrelation function and periodogram, as well as the corresponding theoretical properties of ARMA or related processes. It also includes methods to work with autoregressive and moving average lag-polynomials. Additionally, related statistical tests and some useful helper functions are available.

In [21]:
import pandas as pd
import funciones as fn
import numpy as np

In [11]:
# Datos necesarios: token de OANDA
OA_Ak = '800f1b3f91d7cb0a713c532e17823f6d-f9acd6a21490f97aef649dfd8e723435'
OA_In = "EUR_USD"                   # Instrumento
OA_Gn = "H1"                        # Granularidad de velas
fini = pd.to_datetime("2019-07-06 00:00:00").tz_localize('GMT')  # Fecha inicial
ffin = pd.to_datetime("2019-12-06 00:00:00").tz_localize('GMT')  # Fecha final

# Descargar precios masivos
df_ = fn.f_precios_masivos(p0_fini=fini, p1_ffin=ffin, p2_gran=OA_Gn, p3_inst=OA_In, p4_oatk=OA_Ak, p5_ginc=4900)

pd.set_option('display.max_rows', 10)
df_pe = df_.copy()

df_pe

               TimeStamp     Open     High      Low    Close
0    2019-07-07 21:00:00  1.12248  1.12275  1.12240  1.12275
1    2019-07-07 22:00:00  1.12278  1.12292  1.12256  1.12288
2    2019-07-07 23:00:00  1.12286  1.12286  1.12266  1.12268
3    2019-07-08 00:00:00  1.12270  1.12298  1.12198  1.12212
4    2019-07-08 01:00:00  1.12214  1.12283  1.12210  1.12276
...                  ...      ...      ...      ...      ...
2616 2019-12-05 23:00:00  1.11043  1.11058  1.11040  1.11040
2617 2019-12-06 00:00:00  1.11042  1.11055  1.11030  1.11030
2618 2019-12-06 01:00:00  1.11033  1.11070  1.11033  1.11065
2619 2019-12-06 02:00:00  1.11068  1.11086  1.11066  1.11076
2620 2019-12-06 03:00:00  1.11074  1.11090  1.11070  1.11077

[2621 rows x 5 columns]

In [15]:
desplazado = df_pe['Close'].shift(1)
variacion_diaria = df_pe['Close'] / df_pe['Close'].shift(1) - 1
df_pe['diferencias'] = variacion_diaria
df_pe[["TimeStamp",'diferencias']]

               TimeStamp  diferencias
0    2019-07-07 21:00:00          NaN
1    2019-07-07 22:00:00     0.000116
2    2019-07-07 23:00:00    -0.000178
3    2019-07-08 00:00:00    -0.000499
4    2019-07-08 01:00:00     0.000570
...                  ...          ...
2616 2019-12-05 23:00:00    -0.000009
2617 2019-12-06 00:00:00    -0.000090
2618 2019-12-06 01:00:00     0.000315
2619 2019-12-06 02:00:00     0.000099
2620 2019-12-06 03:00:00     0.000009

[2621 rows x 2 columns]

In [19]:
media= df_pe['diferencias'].mean()
media

-3.887809792585025e-06

In [27]:
desviacion= np.std(df_pe['diferencias'])
desviacion

0.0006430115496448223

In [24]:
varianza= np.var(df_pe['diferencias'])
varianza

4.1346385297663576e-07

In [26]:
df_pe['diferencias'].describe()

count    2620.000000
mean       -0.000004
std         0.000643
min        -0.005243
25%        -0.000286
50%         0.000000
75%         0.000253
max         0.008149
Name: diferencias, dtype: float64